<div class="callout secondary mb-sm">
  <p>
    <%= t ".help" %>
  </p>
</div>
<h2 class="section-heading"><%= t("sms_phone_number", scope: "layouts.decidim.initiative_signature_creation_header") %></h2>

<%= render partial: "wizard_steps", locals: { step: :sms_phone_number } %>

<div class="card">
  <div class="card__content">
    <%= decidim_form_for(@form, url: sms_phone_number_initiative_initiative_signatures_path(current_initiative), method: :put, html: { class: "form mobile_phone_number" }) do |f| %>
      <div class="field">
        <%= f.text_field :mobile_phone_number %>
      </div>

      <div class="actions">
        <%= f.submit t(".continue"), class: "button expanded" %>
       </div>
    <% end %>
  </div>
</div>
